* {
    margin: 0;
    padding: 0;
    border-spacing: none;
    background-color: black;
    /*  */
}

#navigation {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    margin: 5px;
    /* font-family: 'Signika', sans-serif; */
    /* font-family: 'Anton', sans-serif; */
    /* font-family: 'Ultra', serif; */
    /* font-family: 'Amaranth', sans-serif; */
    font-family: 'Julius Sans One', sans-serif;
    text-transform: uppercase;
    color: #ffff3f;
    margin: 10px 20px;
    padding: 3px;
}

a:hover {
    color: #0b1d51;
    background-color: #fde327;
}

div {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

table {
    margin: 0;
    padding: 0;
    border-spacing: 0px;
    border-collapse: separate;
}

thead {
    margin: 0;
    padding: 0;
    background-color: #008080;
}

th {
    background-color: #008080;
    font-family: 'Bebas Neue', cursive;
    color: #d8f3dc;
    text-align: center;
    margin: 0;
    padding: 4px;
    border: 1px solid grey;
    font-size: 20px;
}

.tableHeader td {
    background-color: #081c15;
    color: #d8f3dc;
    text-align: center;
}

.tableHeader .pos-num {
    width: 10px;
}

tr {
    margin: 0;
    padding: 0;
    border-spacing: none;
    background-color: #008080;
    font-family: 'Bebas Neue', cursive;
    padding: 5px;
}

td {
    margin: 0;
    padding: 4px;
    border: 1px solid grey;
    font-size: 20px;
}

button {
    margin: 10px 0;
}

.top-5 {
    color: yellow;
}

.not-top-5 {
    color: white;
}

.first-cell{
    justify-content: stretch;
    width: 30px;
    text-align: center;
}

.transfers-left{
    justify-content: stretch;
    width: 103px;
    text-align: center;
}